<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.model.name | typeaheadHighlight:query">Name:</span>
      <span style="color:LightBlue"><strong>Flat: </strong></span><span bind-html-unsafe="match.model.flat_name | typeaheadHighlight:query">, Flat:</span>
  </a>
</script>

<div class="row">
  <div class="page-head">
      <h2 class="page-header"><span class="fa fa-envelope"></span> <%= t('.page_header') %><a href="/#/messages"><button class="close" aria-hidden="true">&times;</button></a></h2>
  </div>
   	<div class="modal-body" autofocus>
		<div class="input-group" autofocus>
           <span class="input-group-addon">@</span>
           <input autofocus type="text" ng-model="selectedUser" typeahead="user as user.name for user in users | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="typeahead form-control" placeholder="<%= t('.create_Message_user_placeholder') %>">
        </div>
    </div>
    <div class="modal-footer" ng-init="fetchUsers()">
      <form role="form" name="NewForm">
    	<div class="row">
        	<div class="col-lg-10 col-md-10">
            	<textarea autofocus name="inputtext" id="inputtext" class="form-control" rows="3" type="text" ng-model="newMess.text" maxlength="255" placeholder="<%= t('.new_text_placeholder') %>" required></textarea>
         	</div>
          <div class="col-lg-2 col-md-2">
           	<a style="text-decoration: none;"><button style="margin-top: 6px" id="send" name="send"class="btn btn-primary btn-block" type="submit" ng-disabled="!NewForm.$valid" ng-click="createMessage()"><%= t('.send') %></button></a>
            <a href="/#/messages" style="text-decoration: none;"><button style="margin-top: 6px" type="button" class="btn btn-default btn-block"><%= t('buttons.labels.decision.close') %></button></a>
          </div>
      </div>
      </form>
 	</div>
</div>

<script type="text/javascript">
  $(function() {
    $('textarea#inputtext').on('keyup', function(e) {
        if (e.which == 13 && ! e.shiftKey) {
            sendMessage();
        }
    });
    function sendMessage(){
      $('button#send').click();
    };
});
</script>