<% content_for :title, t('.page_title') %>
<% content_for :page_header, t('.page_header') %>
  
<div class="page-head">
  <h1 class="page-header">
    <i class="glyphicon glyphicon-globe"></i>

    <%= t('.page_header') %><a href="/#/resources"><button class="close" aria-hidden="true">&times;</button></a></h1>
</div>

<div class="row">

  <div class="col-md-offset-3 col-md-6">
    <form ng-submit="update()">

      <div class="form-group">
        <label for="resource_name">
          <%= t('.name') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="resource_name" ng-model="resourceTmp.name" name="resource_name" placeholder="<%= t('.name_placeholder') %>" type="text"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="resource_description">
          <%= t('.description') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="resource_description" ng-model="resourceTmp.description" name="resource_description" placeholder="<%= t('.description_placeholder') %>" type="text"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="resource_unit">
          <%= t('.unitName') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="resource_unit" ng-model="resourceTmp.unit" name="resource_unit" placeholder="<%= t('.unitName_placeholder') %>
          " type="text" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-pencil"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="resource_pricePerUnit">
          <%= t('.priceUnit') %></label>
        <div class="input-group">
          <input autofocus="autofocus" ng-require="true" id="resource_pricePerUnit" ng-model="resourceTmp.pricePerUnit"  name="resource_pricePerUnit" placeholder="<%= t('.priceUnit_placeholder') %>
          " type="text" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-euro"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="resource_priceMonth">
          <%= t('.monthlyCosts') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="resource_priceMonth" ng-model="resourceTmp.monthlyCost"  name="resource_priceMonth" placeholder="<%= t('.monthlyCosts_placeholder') %>
          " type="text" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-euro"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="resource_priceYear">
          <%= t('.annualCosts') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="resource_priceYear"  ng-model="resourceTmp.annualCost"  name="resource_priceYear" placeholder="<%= t('.annualCosts_placeholder') %>
          " type="text" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-euro"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="resource_name">
          <%= t('.startValue') %></label>
        <div class="input-group">
          <input autofocus="autofocus" id="resource_startValue"  ng-model="resourceTmp.startValue"  name="resource_startValue" placeholder="<%= t('.startValue_placeholder') %>
          " type="text" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-wrench"></span>
          </span>
        </div>
      </div>

       <div class="form-group">
        <label for="resource_startDate">
          <%= t('.startDate') %></label>
        
          <div class="input-group"> <!--class="form-control"  close-text="Close" is-open="opened" date-disabled="disabled(date, mode)" -->
            <input type="text" class="form-control" show-button-bar="false" showWeeks="false" datepicker-popup="mediumDate" ng-model="resourceTmp.startDate" is-open="opened" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />          
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>



      <div class="row">
       
        <div class="col-md-2 col-md-offset-10">
          
          <button class = "btn btn-sm btn-success btn-block">
            <span class="glyphicon glyphicon-ok"></span>
            <%= t('save') %></button>
        </div>
      </div>

    </form>

  </div>

</div>
