<div class="jumbotron">
  <div class="row">
    <div class="col-md-8 text-center">
      <h1><%= image_tag("flatman_logo.png", width: 60) %> <small><%=t(".subtitle")%> </small><%=t(".title")%></h1>
      <p><%=t(".description1")%></p>
      <p><%=t(".description2")%></p>
      <p><%=t(".description3")%></p>
    </div>
    <div class="col-md-4">
      <form role="form" ng-submit="create_flat()">
        <div class="form-group">
          <label class="control-label" for="flat_name"><%=t(".name_label")%></label>
          <div>
            <input id="flat_name" ng-model="newFlat.name" type="text" placeholder="<%=t(".name_placeholder")%>" >
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="street"><%=t(".street_label")%></label>
          <div>
            <input id="street" ng-model="newFlat.street" type="text" placeholder="<%=t(".street_placeholder")%>" >
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="post_code"><%=t(".zip_label")%></label>
          <div>
            <input id="post_code" ng-model="newFlat.zip" type="text" placeholder="<%=t(".zip_placeholder")%>" >
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="city"><%=t(".city_label")%></label>
          <div>
            <input id="city" ng-model="newFlat.city" type="text" placeholder="<%=t(".city_placeholder")%>" >
          </div>
        </div>

        <button class="btn btn-lg btn-success" type="submit"><%=t(".create_flat")%></button>

      </form>
    </div>
  </div>
</div>

