<div class="jumbotron">
  <div class="row">
    <div class="hidden-xs col-md-8 text-center">
      <h1><%= image_tag("flatman_logo.png", width: 60) %> <small><%=t(".subtitle")%> </small><%=t(".title")%></h1>
      <p><%=t(".description1")%></p>
      <p><%=t(".description2")%></p>
      <p><%=t(".description3")%></p>
    </div>
    <div class="visible-xs col-md-8">
      <center><%= image_tag("flatman_logo.png", width: 150) %></center>
      <h2> <span style="color:#999999" > <%=t(".subtitle")%> </span><%=t(".title")%>!</h2>
      <p><%=t(".description1")%>
      <%=t(".description2")%>
      <%=t(".description3")%></p>
            <hr class="hrjumbo">

    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="flat_name"><%=t(".name_label")%></label>
          <div>
            <input id="flat_name" ng-model="newFlat.name" type="text" placeholder="<%=t(".name_placeholder")%>" >
          </div>
        </div>

        <div class="panel panel-default" ng-show="newFlat.name != ''">
          <div class="panel-heading"><strong><%=t('.invites')%></strong></div>
          <div class="panel-body">
            <div class="row form-group">
              <ul class="list-unstyled" ng-show="newFlat.invites.length !== 0">
                <li ng-repeat="invite in newFlat.invites">
                  <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">{{invite}}</div>
                  <a href="" class="pull-right col-lg-2 col-sm-2 col-md-2 col-xs-2" ng-click="remove_invite(invite)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </li>
              </ul>
            </div>
            <form role="form" name="Inviteform" ng-submit="add_invite()">
              <div class="input-group">
                <input type="email" class="form-control"
                        ng-model="invite_email"
                        maxlength="100"
                        placeholder="<%=t('.email')%>" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary"
                          type="submit"
                          ng-disabled="!Inviteform.$valid">
                    <span class="fa fa-plus"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <button class="btn btn-lg btn-success" ng-click="create_flat()"><%=t(".create_flat")%></button>

        <hr class="hrjumbo">

        <div class="form-group">
          <label class="control-label" for="flat_id"><%=t(".flat_key")%></label>
          <div>
            <input id="flat_id" ng-model="newFlat.token" type="text" placeholder="<%=t(".flat_key_placeholder")%>" >
          </div>
        </div>

        <button class="btn btn-lg btn-success" ng-click="join_flat()"><%=t(".join_flat")%></button>

    </div>
  </div>
</div>

