<% content_for :robots, "NOINDEX, NOFOLLOW" %>

<% content_for :title, t('.page_title') %>

<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-dashboard"></span> <%= t('.page_header') %></h1>
</section>

<div class="row visible-lg">
  <div class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">{{get_items_to_buy()}}</p>
            <p class="announcement-text"><%=t(".items_to_buy")%></p>
          </div>
        </div>
      </div>
      <a href="/#/shopping">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              <%=t(".view_shopping_details")%>
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-bitcoin fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">{{get_you_owe()}}</p>
            <p class="announcement-text"><%=t(".you_owe")%></p>
          </div>
        </div>
      </div>
      <a href="/#/finances">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              <%=t(".view_finance_details")%>
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-share-square-o fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">{{count_sharedItems(false)}}</p>
            <p class="announcement-text"><%=t(".items_borrowed")%></p>
          </div>
        </div>
      </div>
      <a href="/#/share">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
                <%=t(".view_share_details")%>
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-globe fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">{{get_resource_usage() | number: 0}}</p>
            <p class="announcement-text"><%=t(".view_resource_titel")%></p>
          </div>
        </div>
      </div>
      <a href="/#/resources">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-6">
              <%=t(".view_resource_details")%>
            </div>
            <div class="col-xs-6 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-shopping-cart"></span> <%=t(".panel_shopping_header")%>
      </div>
      <div class="panel-body">
        <ul class="list-group" ng-show="shoppinglists.length!==0">
          <li class="list-group-item" ng-repeat="list in shoppinglists">
            <span class="badge">{{list.items.length}}</span>
            <h4 class="list-group-item-heading">{{list.name}}</h4>
            <p class="list-group-item-text">{{ get_shoppinglist_summary(list) }}</p>
          </li>
        </ul>
        <p ng-show="shoppinglists.length===0"><%=t(".no_shoppinglists")%></p>
        <div class="text-right">
          <a href="/#/shopping"><%=t(".view_details")%> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-euro"></span>  <%=t(".panel_finances_header")%>
      </div>
      <div class="panel-body">
          <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Bewohner</th>
                  <th class="text-right">Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td class="text-right">-100.00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td class="text-right">+100.00</td>
                </tr>
              </tbody>
              <tfoot>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right">0.00</td>
                  </tr>
              </tfoot>
            </table>
            <div class="text-right">
              <a href="/#/finances"><%=t(".view_details")%> <i class="fa fa-arrow-circle-right"></i></a>
            </div>
      </div>
    </div>
  </div>
</div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-tooltip panel-link" title='<%=t(".share_helptext")%>'>
        <a href="/#/share"><span class="glyphicon glyphicon-share"></span> <%=t(".panel_share_header")%></a>
      </div>
      <div class="panel-body">
        <ul class="list-group">
	         <li class="list-group-item">
    	         <span ng-show="count_sharedItems(true)>0" class="badge">{{count_sharedItems(true)}}</span>
	         	 <h4 class="list-group-item-heading"><%=t(".share_available")%></h4>
	         	 <p ng-show="count_sharedItems(true)==0"><%=t(".no_shareditems")%></p>
	         	 <p class="list-group-item-text">{{ get_sharedItems(true) }}</p>
	         </li> 
	         <li class="list-group-item">
	             <span class="badge">{{count_sharedItems(false)}}</span>
	         	 <h4 class="list-group-item-heading"><%=t(".share_borrowed")%></h4>
	         	 <p class="list-group-item-text">{{ get_sharedItems(false) }}</p>
	         </li>
        </ul> 
         <div class="text-right">
          <a href="/#/share"><%=t(".view_details")%> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
         
      </div>
      </div>
    </div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-globe"></span>  <%=t(".panel_resources_header")%>
      </div>
      <div class="panel-body">
        <div ng-show="dashboardResources.length === 0">
          <%=t(".panel_no_resources")%>
        </div>
        <table ng-hide="dashboardResources.length === 0"class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><%=t(".name")%></th>
                  <th class="text-right"><%=t(".usage")%></th>
                  <th class="text-right"><%=t(".costs")%></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="info in dashboardResources">
                  <td>{{info.name}}</td>
                  <td class="text-right">{{info.usage | number : number}} {{info.unit}}</td>
                  <td class="text-right">{{info.cost| currency : '€ '}}</td>
                </tr>items
              </tbody>
              <tfoot>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right">{{get_resource_usage()| currency : '€ '}}</td>
                  </tr>
              </tfoot>
            </table>
        <div class="text-right">
          <a href="/#/resources"><%=t(".view_details")%> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
