<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-dashboard"></span> <%= t('.page_header') %></h1>
</section>

<div class="row">
  <div ng-class="(get_resource_usage() === 0) ? 'col-lg-6 col-sm-6' :'col-lg-4 col-sm-6'">
    <div class="panel panel-info clickable" ng-click="Util.redirect_to.shopping()">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <p class="announcement-heading">{{get_items_to_buy()}}</p>
            <p class="announcement-text"><%=t(".items_to_buy")%></p>
          </div>
        </div>
      </div>
      <a href="/#/shopping">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              <%=t(".view_shopping_details")%>
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div ng-class="(get_resource_usage() === 0) ? 'col-lg-6 col-sm-6' :'col-lg-4 col-sm-6'">
    <div class="panel panel-warning clickable" ng-click="Util.redirect_to.finances()">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-bitcoin fa-5x"></i>
          </div>
          <div class="col-xs-10 text-right">
              <p class="announcement-heading">{{get_you_owe() | number: 0 }} €</p>
             <p class="announcement-text" ng-show="get_you_owe() < 0"><%=t(".you_owe")%></p>
             <p class="announcement-text"  ng-show="get_you_owe() >= 0"><%=t(".you_get")%></p>
          </div>
        </div>
      </div>
      <a href="/#/finances">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              <%=t(".view_finance_details")%>
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6" ng-hide="get_resource_usage() === 0">
    <div class="panel panel-success clickable" ng-click="Util.redirect_to.resources()">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-globe fa-5x"></i>
          </div>
          <div class="col-xs-10 text-right">
            <p class="announcement-heading">{{get_resource_usage() | number: 0}} €</p>
            <p class="announcement-text"><%=t(".view_resource_titel")%></p>
          </div>
        </div>
      </div>
      <a href="/#/resources">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-10">
              <%=t(".view_resource_details")%>
            </div>
            <div class="col-xs-2 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row hidden-xs">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/#/shopping"><span class="glyphicon glyphicon-shopping-cart"></span> <%=t(".panel_shopping_header")%></a>
      </div>
      <div class="panel-body">
        <ul class="list-group" ng-show="shoppinglists.length!==0">
          <li class="list-group-item" ng-repeat="list in shoppinglists">
            <span class="badge">{{list.items.length}}</span>
            <h4 class="list-group-item-heading">{{list.name}}</h4>
            <p class="list-group-item-text">{{ get_shoppinglist_summary(list) }}</p>
          </li>
        </ul>
        <p ng-show="shoppinglists.length===0"><%=t(".no_shoppinglists")%></p>
        <div class="text-right">
          <a href="/#/shopping"><%=t(".view_details")%> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/#/finances"><span class="glyphicon glyphicon-euro"></span> <%=t(".panel_finances_header")%></a>
      </div>
      <div class="panel-body">
        <div>
          <table class="table table-striped table-hover" ng-show"allDebts.length!== 0">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%=t(".mate")%></th>
                  <th class="text-right"><%=t(".status")%></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="overviewMate in overviewMates">
                  <td>{{$index + 1}}</td>
                  <td>{{overviewMate.name}}</td>
                  <td class="text-right">{{overviewMate.value| customCurrency : '€ '}}</td>
                </tr>
              </tbody>
              <tfoot>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right"><b>{{get_you_owe()| customCurrency : '€ '}}</b></td>
                  </tr>
              </tfoot>
              <p ng-show="allDebts.length===0"><%=t(".no_debts")%></p>
            </table>
            <div class="text-right">
              <a href="/#/finances"><%=t(".view_details")%> <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>