<% content_for :title, t('.page_title') %>

<h1 class="page-header"><span class="fa fa-bitcoin"></span> <%= t('.page_header') %>
  <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <%= t(".month") %> <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
          <li><a ng-click="getMonthEntries(1)">Jänner</a></li>
          <li><a ng-click="getMonthEntries(2)">Februar</a></li>
          <li><a ng-click="getMonthEntries(3)" class="list-group-item active">März</a></li>
          <li><a ng-click="getMonthEntries(4)">April</a></li>
          <li><a ng-click="getMonthEntries(5)">Mai</a></li>
          <li><a ng-click="getMonthEntries(6)">Juni</a></li>
          <li><a ng-click="getMonthEntries(7)">Juli</a></li>
          <li><a ng-click="getMonthEntries(8)">August</a><li>
          <li><a ng-click="getMonthEntries(9)">September</a><li>
          <li><a ng-click="getMonthEntries(10)">Oktober</a><li>
          <li><a ng-click="getMonthEntries(11)">November</a><li>
          <li><a ng-click="getMonthEntries(12)">Dezember</a><li>
      </ul>
  </div>
</h1>

<div class="row">
	<table class="table table-striped">
		<tr>
			<th><%= t(".date") %></th>
			<th><%= t(".name") %></th>
			<th><%= t(".category") %></th>
			<th class="text-right"><%= t(".value") %></th>
      <th>&nbsp;</th>
		</tr>

		<tr ng-repeat="finance in finances | orderBy: 'date' track by $index" class ="">
			<td>{{finance.date | date : 'mediumDate'}}</td>
			<td>{{finance.name}}</th>
			<td>{{finance.cat_name}}</td>
			<td class="text-right">{{finance.value | customCurrency : '€ '}}</td>
      <td>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
           <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
                <a href="/#/finances_edit/{{finance.id}}">
                    <span class="glyphicon glyphicon-pencil"></span> <%= t(".edit") %>
                </a>
            </li>
            <li>
                <a href="" ng-click="removeEntry(finance)">
                    <span class="glyphicon glyphicon-trash"></span> <%= t(".delete") %>
                </a>
            </li>
          </ul>
        </div>
      </td>
		</tr>
	</table>
</div>

<div class="row">
  <div class="col-md-3 col-xs-4">
    <a href="/#/finances" class = "btn btn-sm btn-default">
      <i class="fa fa-arrow-circle-o-left"></i> <%= t('.back') %>
    </a>
  </div>
</div>

