  <div class="hidden-print">
    <h1 ng-hide="edit" class="page-header"><%= t('.page_header_new') %></h1>
    <h1 ng-show="edit" class="page-header"><%= t('.page_header_edit') %></h1>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <form ng-submit="addEntry()">

       <div class="form-group">
          <label for="name">
            <%= t('.name') %></label>
          <div class="input-group">
            <input autofocus="autofocus" id="name" ng-model="finTmp.text" placeholder="<%= t('.name_placeholder') %>" type="text"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-pencil"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="value">
            <%= t('.value') %></label>
          <div class="input-group">
            <input id="value" ng-model="finTmp.value" placeholder="<%= t('.value_placeholder') %>" type="text"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-euro"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="date">
            <%= t('.date') %></label>
          <div class="input-group">
            <input id="value" onfocus="blur();"
              show-button-bar="false" showWeeks="false" datepicker-popup="mediumDate"
              is-open="opened" date-disabled="disabled(date, mode)" ng-required="true" close-text="close"
              ng-model="finTmp.date" placeholder="<%= t('.date_placeholder') %>" type="text"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="cat">
            <%= t('.cat') %></label>
          <div class="input-group">
            <input id="value" ng-model="finTmp.cat_name" placeholder="<%= t('.cat_placeholder') %>" type="text"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-wrench"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
            <label for="Payer"><%= t('.payer') %></label>
            <select ng-model="finTmp.payer" ng-options="mates.name for mates in getFlatMates"></select>
        </div>

        <div class="form-group">
            <label for="who"><%= t('.bill_affects') %></label>
            <li class="list-unstyled">
              <ul ng-repeat="mates in getFlatMates">
                <input type="checkbox" id="mate_{{$index}}" ng-model="finTmp['payees_'+ ($index+1)]">
                <label for="mate_{{$index}}">{{mates.name}}</label>
              </ul>
            </li>
        </div>

        <div class="row">
          <div class="col-md-2">
            <a href="/#/finances"  class = "btn btn-sm btn-default">
              <i class="fa fa-arrow-circle-o-left"></i> <%= t('.back') %>
            </a>
          </div>
          <div class="col-md-2 col-md-offset-8">
            <button type="submit" class = "btn btn-sm btn-success">
              <span class="glyphicon glyphicon-ok"></span> <%= t('.save') %>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <hr/>
