<div>
    <% content_for :title, t('.page_title') %>

    <div class = "page-head">
        <h1 class="page-header"><span class="fa fa-bitcoin"></span> <%= t('.page_header') %>
            <a href="/#/finances_new">
                <button class="btn btn-primary pull-right" type="submit">
                    <span class="glyphicon glyphicon-plus"> </span><span class="hidden-xs"><%= t(".add_fin") %></span>
                </button>
            </a>
        </h1>
    </div>

    <div>
        <form action="/#/finances_new" ng-show="!intro()">
            <div class="jumbotron text-center">
                <i class="fa fa-bitcoin fa-5x"></i>
                <h2><%= t(".help_title") %></h2>
                <%= t(".help_paragraph1") %><br>
            </div>
        </form>
    </div>

    <div class ="container" ng-show="intro()">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default hidden-xs" ng-show="enoughEntries()">
                    <div class="panel-heading text-center" ng-init="dataChart()">
                        <%= t(".total") %>{{total() | customCurrency : '€ '}}
                    </div>
                    <div class="panel-body">
                        <canvas donutchart options="" data="chartData" width="500" height="300"></canvas>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="cat in chartData" title="{{cat.value | customCurrency : '€ '}}">
                                <i class="fa fa-circle" style="color: {{cat.color}}" ></i> {{cat.cat_name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><%= t(".spendings") %></center>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th><%= t(".date") %></th>
                                <th><%= t(".name") %></th>
                                <th class="hidden-xs"><%= t(".cat")%></th>
                                <th class="text-right"><%= t(".value")%></th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr ng-repeat="finance in finances| orderBy: 'date' | limitTo: '5' track by $index">
                                <td>{{finance.date| date: 'mediumDate'}}</td>
                                <td>{{finance.name}}</td>
                                <td class="hidden-xs">{{finance.cat_name}}</td>
                                <td class="text-right">{{finance.value| customCurrency : '€ '}}</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="" ng-click="removeEntry(finance)">
                                                    <span class="glyphicon glyphicon-trash"></span> <%= t(".delete") %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/#/finances_edit/{{finance.id}}">
                                                    <span class="glyphicon glyphicon-pencil"></span> <%= t(".edit") %>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer announcement-bottom">
                        <div class="text-right">
                            <a href="/#/finances_overview">
                                <%= t(".show_all") %> <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            <div ng-repeat="finance_member in financeTables track by $index" class="panel panel-default">
                                <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}">
                                    <div class="row panel-title" style="cursor: pointer">
                                        <div class="col-xs-2 col-sm-1">
                                            <img style="height:35px; width:35px" class="img-circle" ng-src="{{finance_member.img_path}}" alt="{{finance_member.name}}">
                                        </div>

                                        <div class="col-xs-10 col-sm-11">
                                            <span class="pull-left">
                                            {{finance_member.name}}
                                          </span>
                                          <span class="pull-right">
                                            {{finance_member.value| customCurrency : '€ '}}
                                          </span>
                                        </div>
                                      </div>
                                </div>
                                <div id="collapse{{$index}}" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <!--div class="row">
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                              <ul class="pagination pagination-sm pull-right" ng-show="getPages(resource) != 1">
                                                  <li ><a ng-click="changePage(resource, - 1)" href="">&laquo;</a></li>
                                                  <li ng-class="{active: i == resource.page}" class="hidden-xs hidden-sm"ng-repeat="i in getRange(resource)"><a ng-click="setEntriesForPage(i, resource)" href="">{{i}}</a></li>
                                                  <li class="active hidden-md hidden-lg"><a href="">{{resource.page}}</a></li>
                                                  <li><a href="" ng-click="changePage(resource, 1)">&raquo;</a></li>
                                              </ul>
                                          </div-->

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="adv-table editable-table">
                                                <table class="table table-striped table-hover table-borderless table-scrollable" id="editable-sample">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <%= t('.date') %></th>
                                                            <th>
                                                                <%= t('.what') %></th>
                                                            <th class="text-right">
                                                                <%= t('.value') %></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="entry in finance_member.entries">
                                                            <td class="hidden-xs">{{entry.date| date : 'longDate'}}</td>
                                                            <td class="visible-xs">{{entry.date| date : 'shortDate'}}</td>
                                                            <td>{{entry.what}}</td>
                                                            <td class="text-right"> {{entry.value| customCurrency : '€ '}} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="panel-footer announcement-bottom">
                                                <form role="form" name="Itemform" ng-submit="addPayment(finance_member)">
                                                    <div class="input-group">
                                                        <span class="hidden-xs input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>

                                                        <span class="input-group-btn hidden-xs" style="width:90px;">
                                                            <input type="text" onfocus="blur();" class="btn btn-default form-control" show-button-bar="false" showWeeks="false" datepicker-append-to-body="true" datepicker-popup="shortDate" show-weeks="false" ng-model="finance_member.date" ng-required="true" />
                                                        </span>
                                                        <input type="text" class="form-control" pattern="^[0-9\,.]*$"
                                                               ng-model="finance_member.entryvalue"
                                                               maxlength="30"
                                                               placeholder="<%= t('.payment_placeholder') %>
                                                               " required numberinput/>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary"
                                                                    type="submit"
                                                                    ng-disabled="!Itemform.$valid">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                                <span class="hidden-xs"><%= t(".add") %></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
