<style type="text/css">
   .angular-google-map-container { height: 300px; }
</style>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
     <google-map center="map.center" zoom="map.zoom">
        <marker coords="map.marker"></marker>
      </google-map>

      <section class="hidden-print">
          <h1 class="page-header"><span class="fa fa-wrench"></span> <%= t('.page_header') %></h1>
      </section>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-5">
     <form name="content_form" class="form" role="form" ng-submit="update_flat()">
        <div class="form-group">
          <label class="control-label" for="flat_name"><%=t('.name')%></label>
          <div>
            <input id="flat_name" ng-model="flat.name" type="text" placeholder="<%=t('.name_placeholder')%>" >
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="street"><%=t('.street')%></label>
          <div>
            <input id="street" ng-model="flat.street" type="text" placeholder="<%=t('.street_placeholder')%>" >
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="post_code"><%=t('.zip')%></label>
          <div>
            <input id="post_code" ng-model="flat.zip" type="text" placeholder="<%=t('.zip_placeholder')%>" >
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="city"><%=t('.city')%></label>
          <div>
            <input id="city" ng-model="flat.city" type="text" placeholder="<%=t('.city_placeholder')%>" >
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-2 col-md-offset-10">
             <button class = "btn btn-sm btn-success btn-block" title ="<%= t('buttons.titles.decision.save') %>" ng-disabled="!is_dirty()">
                <span class="glyphicon glyphicon-ok"></span> <%= t('buttons.labels.decision.save.enabled') %>
              </button>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading"><strong><%=t('.members')%></strong></div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="t in flat.users">{{t.name}}</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading"><strong><%=t('.invites')%></strong></div>
      <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="invite in flat.invites">{{invite.email}}
              <a href="" class="pull-right" ng-click="remove_invite(invite)">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </li>
          </ul>
          <form role="form" name="Inviteform" ng-submit="send_invite()">
            <div class="input-group">
              <input type="email" class="form-control"
                      ng-model="invite_email"
                      maxlength="100"
                      placeholder="<%=t('.email')%>" required>
              <span class="input-group-btn">
                <button class="btn btn-primary"
                        type="submit"
                        ng-disabled="!Inviteform.$valid">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>


