<div class="row" infinite-scroll="loadNews()">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="row">

      <div ng-class="tileClass()">
        <div class="panel panel-info clickable  padding-small-bottom" ng-click="Util.redirect_to.shopping()">
          <div class="panel-heading">
            <div class="row hidden-xs">
              <div class="col-xs-2">
                <i class="fa fa-shopping-cart fa-4x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <p class="announcement-heading">{{get_items_to_buy()}}</p>
                <p class="announcement-text"><%=t(".items_to_buy")%></p>
              </div>
            </div>
            <div class="row visible-xs">
              <div class="announcement-heading-xs">
                <span class="fa fa-shopping-cart padding-left"></span>
                <span class="announcement-heading-text-xs"><%=t(".items_to_buy")%></span>
                <span class="pull-right padding-right">{{get_items_to_buy()}}</span>
              </div>
            </div>
          </div>
          <a href="/#/shopping" class="hidden">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-10">
                  <%=t(".view_shopping_details")%>
                </div>
                <div class="col-xs-2 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div ng-class="tileClass()">
        <div class="panel panel-warning clickable padding-small-bottom" ng-click="Util.redirect_to.finances()">
          <div class="panel-heading">
            <div class="row hidden-xs">
              <div class="col-xs-2">
                <i class="fa fa-bitcoin fa-4x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <p class="announcement-heading">{{get_you_owe() | number: 0 }} €</p>
                <p class="announcement-text" ng-show="get_you_owe() < 0"><%=t(".you_owe")%></p>
                <p class="announcement-text"  ng-show="get_you_owe() >= 0"><%=t(".you_get")%></p>
              </div>
            </div>
            <div class="row visible-xs">
              <div class="announcement-heading-xs">
                <span class="fa fa-bitcoin padding-left"></span>
                <span class="announcement-heading-text-xs" ng-show="get_you_owe() < 0"><%=t(".you_owe")%></span>
                <span class="announcement-heading-text-xs" ng-show="get_you_owe() >= 0"><%=t(".you_get")%></span>
                <span class="pull-right padding-right">{{get_you_owe() | number: 0 }} €</span>
              </div>
            </div>
          </div>
          <a href="/#/finances" class="hidden">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-10">
                  <%=t(".view_finance_details")%>
                </div>
                <div class="col-xs-2 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div ng-hide="get_resource_usage() === 0" ng-class="tileClass()">
        <div class="panel panel-success clickable padding-small-bottom" ng-click="Util.redirect_to.resources()">
          <div class="panel-heading">
            <div class="row hidden-xs">
              <div class="col-xs-2">
                <i class="fa fa-globe fa-4x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <p class="announcement-heading">{{get_resource_usage() | number: 0}} €</p>
                <p class="announcement-text"><%=t(".view_resource_titel")%></p>
              </div>
            </div>
            <div class="row visible-xs">
              <div class="announcement-heading-xs">
                <span class="fa fa-globe padding-left"></span>
                <span class="announcement-heading-text-xs"><%=t(".view_resource_titel")%></span>
                <span class="pull-right padding-right">{{get_resource_usage() | number: 0}} €</span>
              </div>
            </div>
          </div>
          <a href="/#/resources" class="hidden">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-10">
                  <%=t(".view_resource_details")%>
                </div>
                <div class="col-xs-2 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div ng-class="tileClass()">
        <div class="panel panel-danger clickable  padding-small-bottom" ng-click="Util.redirect_to.shopping()">
          <div class="panel-heading">
            <div class="row hidden-xs">
              <div class="middle col-xs-2">
                <i class="fa fa-list-alt fa-4x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <p class="announcement-heading">{{get_items_todos()}}</p>
                <p class="announcement-text"><%=t(".todos")%></p>
              </div>
            </div>
            <div class="row visible-xs">
              <div class="announcement-heading-xs">
                <span class="fa fa-list-alt padding-left"></span>
                <span class="announcement-heading-text-xs"><%=t(".todos")%></span>
                <span class="pull-right padding-right">{{get_items_todos()}}</span>
              </div>
            </div>
          </div>
          <a href="/#/pinboard" class="hidden">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-10">
                  <%=t(".view_todo_details")%>
                </div>
                <div class="col-xs-2 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="row">
      <form role="form" ng-submit="addMessage()" name="newsForm">
        <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
          <img ng-src="{{current_user.image_path}}" class="img-circle news-image-add">
        </div>
        <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
          <div class="input-group">
            <input type="text" class="form-control" 
              ng-model="newsText"
              maxlength="240"
              placeholder="<%= t('.sampletext_placeholder') %>" required>
            <span class="input-group-btn">
            <button class="btn btn-primary"
              type="submit"
              ng-disabled="!newsForm.$valid">
            <span class="fa fa-plus fa-lg"></span> <span class="hidden-xs"><%= t(".posten") %></span>
            </button>
            </span>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div ng-repeat="n in news track by $index" class="panel padding-small-bottom"
      ng-class="{
          'panel-warning' : n.type == 'finance',
          'panel-success' : n.type == 'resource',
          'panel-info'    : n.type == 'shopping',
          'panel-danger'  : n.type == 'todo',
          'panel-default' : n.type == 'message' || n.type == 'useraction'
        }">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2 news-icon" style="background-color:yedllow;">
              <img ng-src="{{n.link}}" ng-show="n.type == 'message'" class="img-circle news-image"/>
              <span class="fa fa-bitcoin fa" ng-show="n.type == 'finance'"></span>
              <span class="fa fa-shopping-cart fa" ng-show="n.type == 'shopping'"></span>
              <span class="fa fa-globe fa" ng-show="n.type == 'resource'"></span>
              <span class="fa fa-list-alt fa" ng-show="n.type == 'todo'"></span>
              <span class="fa fa-user fa" ng-show="n.type == 'useraction'"></span>
          </div>
          <div style="word-wrap:break-word;" class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            <a href="" class="pull-right" ng-show="n.type === 'message' && n.user_id === current_user.id" ng-click="removeMessage(n)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <span ng-class="{'clickable' : !(n.type == 'message' || n.type == 'matechange')}"  ng-click="redirectToSource(n.type)">
            <span class="news-name">{{n.name}}<span ng-show="n.text != ''">:</span></span> 
            <span class="nowrap" ng-show="n.header != ''"> {{n.header}} </span>
            <span ng-show="n.text != ''"> {{n.text}}</span>
            </span>
            <br>
            <span class="news-date"><i class="fa fa-clock-o"></i> {{n.date}} </span>
            <a data-toggle="collapse" data-target="#collapseComments{{$index}}" aria-expanded="false" aria-controls="collapseComments" class="news-comment clickable"  ng-click="switchChevron($index)">
            <i class="fa fa-comment"></i> <%= t('.comment') %> <span ng-show="n.comments.length != 0"> {{n.comments.length}}</span>
            <span id="chevron{{$index}}" class="glyphicon glyphicon-chevron-right"></span> 
            </a>
          </div>
        </div>
      </div>
      <div id="collapseComments{{$index}}" class="collapse panel-body announcement-bottom">
        <table class="table table-condensed">
          <tbody>
            <tr ng-repeat="c in n.comments track by $index">
              <td ng-class="{'td-remove-boarder' : $index == 0}">
                <span class="news-name">{{c.name}}: </span> {{c.text}}  
                <span class="news-date" ng-show="c.date"><i class="fa fa-clock-o" ></i> {{c.date}} </span>
              </td>
            </tr>
          </tbody>
        </table>
        <form role="form" name="Commentform" ng-submit="addComment(n)">
          <div class="input-group">
            <input type="text" class="form-control"
              ng-model="n.new_Text"
              maxlength="250"
              placeholder="<%= t(".comment_placeholder") %>" required>
            <span class="input-group-btn">
            <button class="btn btn-primary"
              type="submit"
              ng-disabled="!Commentform.$valid">
            <span class="fa fa-plus fa-lg"></span>
            </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
