<style type="text/css">
  input[type=checkbox] { display:none; } /* to hide the checkbox itself */
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
  }

  input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
  input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

  input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
  input[type=checkbox]:checked + label:before { letter-spacing: 8px; }

  .btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
  }

  @media (max-width: 768px) {
    .mobile-font-size{font-size: 16px;}
  }

</style>

<div class="page-head dropdown">
    <h1 class="page-header">
        
        <span ng-show="filtered_all()"><span class="fa fa-thumb-tack"></span> <%= t(".page_header") %></span>
        <span ng-show="filtered_shopping()"><span class="fa fa-shopping-cart"></span> <%= t(".page_header_shop") %></span>
        <span ng-show="filtered_todo()"><span class="fa fa-list-alt"></span> <%= t(".page_header_todo") %></span>
        <div class="btn-group pull-right" data-toggle="buttons">
          <label class="btn btn-default hidden-xs" ng-class="{'active': filtered_todo()}" ng-click="only_todo()">
            <input type="radio" name="options" id="option1" autocomplete="off"><i class="fa fa-list-alt fa-lg"></i> <%= t(".Todo") %>
          </label>            
          <label class="btn btn-default hidden-xs" ng-class="{'active': filtered_shopping()}" ng-click="only_shopping()">
            <input type="radio" name="options" id="option2" autocomplete="off"><i class="fa fa-shopping-cart fa-lg"></i> <%= t(".shopping") %>
          </label>
          <label class="btn btn-default hidden-xs" ng-class="{'active': filtered_all()}" ng-click="only_all()">
            <input type="radio" name="options" id="option4" autocomplete="off" checked><i class="fa fa-ban fa-lg"></i> <%= t(".all") %>
          </label>

          <span class="btn-separator hidden-xs"></span>
          <button type="button" 
                    class="btn dropdown-toggle btn-primary" 
                    data-toggle="dropdown"
                    id="dropdownMenu1">
                <span class="fa fa-plus fa-lg"></span>
                <span class="hidden-xs"><%= t(".add") %></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-show="filtered_todo() || filtered_all()">
                    <a href="" ng-click="create_todo()">
                        <i class="fa fa-list-alt fa-lg"></i> 
                        <%= t(".todo") %>
                    </a>
                </li>
                <li ng-show="filtered_shopping() || filtered_all()">
                    <a href="" ng-click="create_shoppinglist()">
                        <i class="fa fa-shopping-cart fa-lg"></i> 
                        <%= t(".shoppinglist") %>
                    </a>
                </li>
            </ul>
        </div>
    </h1>
</div>

<div class="row">
  <ul id="isotopeContainer" isotope-container ng-cloak class="ng-cloak list-unstyled">
    <li class="col-md-4 col-sm-6" ng-repeat="list in bla = (lists | filter: {type: filter_type}) track by track_via(list)" isotope-item>
        <div class="panel panel-{{get_color($index)}}">
            <div class="panel-heading mobile-font-size">
                <div class="form-group">
                    <strong>
                        <i class="fa fa-shopping-cart fa-lg" ng-show="is_shopping(list)"></i>
                        <i class="fa fa-list-alt fa-lg" ng-show="is_todo(list)"></i> <i class="fa fa-user-secret" title="<%= t(".private") %>" ng-show="list.private"></i>
                        {{list.name}} 
                    </strong>
                    <div class="btn-group pull-right">
                      <button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span class="fa fa-ellipsis-v fa-lg"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-hide="is_todo(list)">
                          <a href="" ng-click="done_shopping(list)">
                            <span class="fa fa-credit-card"></span> <%= t(".done") %>
                          </a>
                        </li>
                        <li>
                          <a href="" ng-click="delete_checked(list)"><i class="fa fa-eraser"></i> <%= t(".delete_checked") %></a>
                        </li>
                        <li>
                          <a href="" ng-click="remove_list(list)"><span class="glyphicon glyphicon-trash"></span> <%= t(".delete_list") %></a>
                        </li>
                      </ul>
                    </div>
                </div>
                <ul class="list-unstyled row">
                    <li ng-repeat="item in list.items">
                      <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
                        <input id="{{''+$parent.$index+$index}}" type="checkbox" ng-model="item.checked" ng-change="change_checked(list,item)">
                        <label for="{{''+$parent.$index+$index}}"
                                class="done-{{item.checked}}" style="word-wrap:break-word;">
                          {{item.name}}
                        </label>
                      </div>
                      <a href="" class="col-lg-2 col-sm-2 col-md-2 col-xs-2" ng-click="remove_item(list,item)">
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                      </a>
                    </li>
                </ul>
            </div>
            <div class="panel-footer announcement-bottom">
                <form role="form" name="Itemform" ng-submit="add_item(list)">
                    <div class="input-group">
                      <input type="text" class="form-control"
                              ng-model="list.new_Text"
                              maxlength="130"
                              placeholder="{{is_todo(list) && '<%= t(".new_item_placeholder_todo") %>' || '<%= t(".new_item_placeholder") %>' }}" required focus-item="focus_items_on_add">
                      <span class="input-group-btn">
                        <button class="btn btn-primary"
                                type="submit"
                                ng-disabled="!Itemform.$valid">
                          <span class="fa fa-plus fa-lg"></span> <span class="hidden-xs"><%= t(".add") %></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
    </li>
  </ul>
    <div class="jumbotron text-center" ng-show="bla.length===0 && !isLoading() && filtered_shopping()">
      <i class="fa fa-shopping-cart fa-5x"></i>
      <h2><%= t(".help_title") %></h2>
      <%= t(".help_paragraph1") %><br>
      <%= t(".help_paragraph2") %>
    </div>

    <div class="jumbotron text-center" ng-show="bla.length===0 && !isLoading() && filtered_todo()">
      <i class="fa fa-list-alt fa-5x"></i>
      <h2><%= t(".help_title_todo") %></h2>
      <%= t(".help_paragraph1_todo") %><br>
      <%= t(".help_paragraph2_todo") %>
    </div>
</div>

<script type="text/ng-template" id="create_list.html">
  <form name="questionForm" ng-submit="ok()" modalWindow>
    <div class="modal-header">
        <h3 class="modal-title" ng-show="is_todo"><%= t(".create_todo") %></h3>
        <h3 class="modal-title" ng-show="!is_todo"><%= t(".create_shopping") %></h3>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control" placeholder="{{is_todo && '<%= t(".new_list_placeholder_todo") %>' || '<%= t(".new_list_placeholder") %>' }}" ng-model="item.text"> 
      <div class="checkbox">      
          <input type="checkbox" ng-model="item.priv" id="modal_text"> 
          <label for="modal_text"><%= t(".private") %> <i class="fa fa-user-secret"></i></label>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="ok()"><%= t("misc.titles.OK") %></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()"><%= t("misc.titles.cancel") %></button>
    </div>
  </form>
</script>
