<% content_for :title, t('.page_title') %>
<% content_for :page_header, t('.page_header') %>

<div class="row modal-body">
   <div class="page-head">
      <h1 class="page-header">
                     <i class="fa fa-flash"></i>

         <%= t('.page_header') %>
         <a href="/#/create_resource">
            <button ng-click="setUpdateResource('add','')" class="btn btn-primary pull-right"> <i class="fa fa-plus"></i>
               <%= t('.page_title') %></button>
       </a>
      </h1>

   </div>

   <div ng-repeat="resource in resources" resources-repeat-directive>
      <div id="strom" class="col-sm-6">

         <h1 class="pull-left">
            {{resource.name}}
            <a href="/#/update_resource/{{resource.id}}">
               <button class="btn btn-default btn-xs" ng-click="setUpdateResource('update',resource)"> <i class="fa fa-edit"></i>
               </button>
             </a>
            <button class="btn btn-default btn-xs"  ng-click="removeResource(resource)">
                  <span class="glyphicon glyphicon-trash"></span>
            </button>
         </h1>
          <ul class="pagination pagination-sm pull-right">
            <li><a ng-click="changePage(resource, -1)" href="">&laquo;</a></li>
            <li ng-repeat="i in getRange(resource.entryLength)"><a ng-click="setEntriesForPage(i, resource)" href="">{{i}}</a></li>
            <li><a href="" ng-click="changePage(resource, 1)">&raquo;</a></li>
          </ul>

      </div>
      <div class="col-sm-6"> <h1>.</h1></div>
      <div class="col-sm-6">
         <div class="adv-table editable-table">
            <table class="table table-striped table-hover table-borderless table-scrollable" id="editable-sample">
               <thead>
                  <tr>
                     <th>
                        <%= t('.date') %></th>
                     <th>
                        <%= t('.value') %></th>
                     <th>
                        <%= t('.usage') %></th>
                     <th>
                        <%= t('.costs') %></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="entry in resource.entries" class="">
                     <td>{{entry.date | date:'dd.MM yyyy' }}</td>
                     <td>{{entry.value}} {{resource.unit}}</td>
                     <td>{{entry.usage}} {{resource.unit}}</td>
                     <td>
                        € {{entry.costs}}
                        <button class="btn btn-default btn-xs pull-right" ng-hide="entry.isFirst == true" ng-click="removeEntry(resource,entry)">
                           <span class="glyphicon glyphicon-trash"></span>
                        </button>
                     </td>
                  </tr>
                 
               </tbody>
            </table>
            
         </div>

         <div class="panel-footer announcement-bottom">
            <form role="form" name="Itemform" ng-submit="addEntry(resource)">
               <div class="input-group">
                  <div id="datetimepicker2" class="input-group-btn">
                     <button type="button" name="date" bs-datepicker class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span an class="glyphicon glyphicon-calendar"></span>
                        {{resource.date| date:'dd.MM yyyy' }} 
                        <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                          <div style="display:inline-block; min-height:290px;">
                            <div class="well well-sm" ng-model="resource.date">
                              <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
                            </div>
                          </div>
                     </ul>
                  </div>

                  <input type="text" class="form-control"
                      ng-model="resource.entryvalue"
                      maxlength="30"
                      placeholder="<%= t('.resourceValue') %>
                  " required>
                  <span class="input-group-btn">
                     <button class="btn btn-primary"
                        type="submit"
                        ng-disabled="!Itemform.$valid">

                        <span class="glyphicon glyphicon-plus"></span>
                        <%= t(".add") %></button>
                  </span>
               </div>
            </form>

         </div>

      </div>

      <!--div style="display:inline-block; min-height:290px;">
      <div class="well well-sm" ng-model="dt">
         <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
      </div>
   </div-->

   <div id="info" class="col-sm-6 hidden-xs">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav nav-tabs">
            <li class="active">
               <a ng-click="showInfos(true)" href="">
                  <%= t('.chart') %></a>
            </li>
            <li>
               <a ng-click="showInfos(false)" href="">
                  <%= t('.data') %></a>
            </li>

            <ul class="nav navbar-right">
               <li class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     01.05.2013 - 05.3.2014 <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                     <li>
                        <img src="http://webtv.feratel.com/thumbnails/5645.jpeg?dcsdesign=WTP_partner&t=37"/>
                     </li>
                  </ul>
               </li>
            </ul>
         </ul>
      </div>
      <!-- /.navbar-collapse -->

      <div class="row-fluid" ng-show="showChart">
        <canvas linechart options="resource.options" data="resource.chart" width="520" height="250"></canvas>
      </div>

      <p ng-hide="showChart">
          infos 
      </p>
   </div>
   <div class="col-sm-12">

      <hr></div>
</div>
</div>
