<h1><%= t('.page_header') %> "{{term}}"</h1>

	<div ng-show="searchdata.items.length > 0">
		<h3><%=t(".found_items")%></h3>
    	
    <accordion close-others="true">	
    	<accordion-group is-open="status.open" data-ng-repeat="item in searchdata.items">
        	<accordion-heading>{{item.data.name}} ({{item.distance}} <%=t(".km_away")%>)
    			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    		</accordion-heading>
    		
    		
    		
    		
    		<div class="col-lg-3">
	      			<img ng-click="showImage(item.data.image)" class="img-rounded show-image pointer" width="80" ng-src="{{item.data.thumb}}"   >
			</div>
			<div class="col-lg-9 ">
					 <p><%=t(".flatname")%>: {{item.flatname}} | <%=t(".status")%>: <span ng-show="item.data.available"><%=t(".currently_available")%></span><span ng-show="!item.data.available"><%=t(".currently_borrowed")%></span></p>
					 
	      			 <h4 class="media-heading" ng-show="item.data.description"><%=t(".description")%></h4>
	      			 <p ng-show="item.data.description">{{item.data.description}}</p>
	      			 <h4 ng-show="!item.data.description"><%=t(".no_description_available")%></h4>
	      			 <a href="/#/create_message/{{item.flat_id}}">
	      			 <button class="btn btn-primary pull-right">send borrow request</button>
	      			 </a>
	      			
	      			
	      			 <h5 ng-show="item.data.tags" class="media-heading"><%=t(".tags")%></h5>
	      			 <p ng-show="item.data.tags">{{item.data.tags}}</p>
			</div>
	     
      </accordion-group>
    </accordion>
     
</div>
<div class="alert alert-warning" ng-show="searchdata.items.length===0"><%=t(".no_items_found")%></div>


