<div class="row">
	
	<div class="col-lg-12">
		<h1 class="page-header"><span class="fa fa-share"> {{item.name}}<span></h1>
	</div>
		
	
	<div class="col-lg-3 ">
		 <div class="thumbnail">
		 	<input type="file" id="fileUpload" ng-show="false" upload-image />
	      	<img class="image-popup img-rounded" ng-src="{{item.image}}"   >
			
	      	<h3>{{item.name}}</h3>
	      	<p><%= t(".image_static_text") %></p>
	      	<p> 
	  	      	<button class="btn btn-primary" ng-class=" {hidden: item.image}"   ng-click="openFileWindow()">
	      			<span class="glyphicon glyphicon-camera"></span> <%= t(".upload_image") %>
	      		</button>
	      		<button class="btn btn-primary" ng-class=" {hidden: !item.image}"  ng-click="openFileWindow()">
	      			<span class="glyphicon glyphicon-camera"></span> <%= t(".change_image") %>
	      		</button>		
	      		<button class="btn btn-error" ng-class=" {hidden: !item.image}" ng-click="removeImage()">
	      			<span class="glyphicon glyphicon-remove"></span> <%= t(".remove_image") %>
	      		</button>	
	    	</p>
	     </div>
    
	    
	</div>	
	
	
	<div class="col-lg-9">
		<form role="form" id="itemform" name="itemform" ng-controller="sharedItemCtrl" ng-submit="updateItem()">
			<div class="panel panel-success">
				 
				 
				 <div class="panel-body shareditem">
					 <h4><%= t(".currentState") %></h4>
				
				 	 <input id="item-available" type="checkbox" ng-model="item.available">
                     <label for="item-available">
                        <%= t(".available") %>
                     </label>
				 	<br />
				 	<input id="item-hidden" type="checkbox" ng-model="item.hidden">
                     <label for="item-hidden">
                        <%= t(".hidden") %>
                     </label>
				  <hr />         
					
				
				
				<div class="panel-group">
					<ul class="list-group" >
					
					<label for="description"><%= t(".description") %></label>
					<textarea 
							ng-model = "item.description"
							ng-maxlength = "255"
							class="form-control" 
							rows="3"
							id="description"
							placeholder='<%= t(".description_placeholder") %>'>
					</textarea>
							
					<br />
					
				<label for="sharingnote"><%= t(".sharingNote") %></label>
					<textarea 
							ng-model = "item.sharingNote"
							ng-maxlength = "255"
							class="form-control" 
							rows="2"
							id="sharingnote"
							placeholder='<%= t(".description_placeholder") %>'>
						</textarea>
							
					<br />
				<label for="tags"><%= t(".tags") %></label>
			
			
	
			
			
		 <tags-input 
			    	class="bootstrap"
			    	placeholder="tags"
			   		ng-model="item.tags"
			   		replace-spaces-with-dashes="false">
		</tags-input>
				
			
				<p>
				
				<button class="btn btn-success"
						ng-disabled="!itemform.$valid"
						type="submit">
          			<span class="glyphicon glyphicon-floppy-disk"></span> <%= t(".save") %>
          		</button>
          			        
                  
               <button class="btn btn-danger" ng-click="removeItem('<%= t(".confirm_delete") %>')">
            		<span class="glyphicon glyphicon-remove"></span> <%= t(".remove") %>
               </button>
            	
                
                  <a href="#/share"><button class="btn btn-primary">
                	<span class="glyphicon glyphicon-arrow-left"></span> <%= t(".back") %></button>
                </a>	
               </p>
                </div> </div>
		</form>
	</div>		
	
	
		
		
		
</div>

    
