<div class="row">
	
	<div class="col-lg-12">
		<h1 class="page-header"><span class="fa fa-share"> {{item.name}}<span></h1>
	</div>
		
	
	<div class="col-lg-3 ">
		 <div class="thumbnail">
		 
		 	<input type="file" id="fileUpload" ng-show="false" upload-image />
	     	
	      	<img ng-click="showImage(item.image)" class="image-popup img-rounded pointer" ng-src="{{item.medimage}}"   >
			
	   		<p></p>
	      	<div class="row">
	      		<div class="col-md-3 col-xs-4">
	      			<button class="btn btn-primary btn-sm" ng-class=" {hidden: item.image}"   ng-click="openFileWindow()">
	      				<span class="glyphicon glyphicon-camera"></span> <%= t(".upload_image") %>
	      			</button>
	      		
		      		<button class="btn btn-primary btn-sm" ng-class=" {hidden: !item.image}"  ng-click="openFileWindow()">
		      			<span class="glyphicon glyphicon-camera"></span> <%= t(".change_image") %>
		      		</button>
	      		</div>	
	      		
	      		<div class="col-md-3 col-md-offset-6 col-xs-4 col-xs-offset-4">
		      		<button class="btn btn-error btn-sm pull-right" ng-class=" {hidden: !item.image}" ng-click="removeImage()">
		      			<span class="glyphicon glyphicon-remove"></span> <%= t(".remove_image") %>
		      		</button>	
	      		</div>
				
				
	      	
	      	</div>
	     </div>
    
	    
	</div>	
	
	
	<div class="col-lg-9">
		<form role="form" id="itemform" name="itemform" ng-controller="sharedItemCtrl" ng-submit="updateItem()">
			<div class="panel panel-success">
				 
				 
				 <div class="panel-body shareditem">
					 <h4><%= t(".currentState") %></h4>
				
				 	 <input id="item-available" type="checkbox" ng-model="item.available">
                     <label for="item-available">
                        <%= t(".available") %>
                     </label>
				 	<br />
				 	<input id="item-hidden" type="checkbox" ng-model="item.hidden">
                     <label for="item-hidden">
                        <%= t(".hidden") %>
                     </label>
				  <hr />         
					
				
				
				<div class="panel-group">
					<ul class="list-group" >
					
					<label for="description"><%= t(".description") %></label>
					<textarea 
							ng-model = "item.description"
							ng-maxlength = "255"
							class="form-control" 
							rows="3"
							id="description"
							placeholder='<%= t(".description_placeholder") %>'>
					</textarea>
							
					<br />
					
				<label for="sharingnote"><%= t(".sharingNote") %></label>
					<textarea 
							ng-model = "item.sharingNote"
							ng-maxlength = "255"
							class="form-control" 
							rows="2"
							id="sharingnote"
							placeholder='<%= t(".sharingnote_placeholder") %>'>
						</textarea>
							
					<br />
				<label for="tags"><%= t(".tags") %></label>
			
			
	
			
			
		 <tags-input 
			    	class="bootstrap"
			    	placeholder='<%= t(".tags_placeholder") %>'
			   		ng-model="item.tags"
			   		replace-spaces-with-dashes="false">
		</tags-input>
				
			
		
			<div class="row">
				<div class="col-md-3 col-xs-4">
					<a href="/#/share" class = "btn btn-sm btn-default"> 
						<i class="glyphicon glyphicon-arrow-left"></i> <%= t('.back') %>
					</a>
				</div>
				
				<div class="col-md-3 col-md-offset-6 col-xs-4 col-xs-offset-4">
					<button type="submit" class = "btn btn-sm btn-success pull-right" ng-disabled="!itemform.$valid">
						<span class="glyphicon glyphicon-ok"></span> <%= t('.save') %></button>
				</div>
			</div>
			
			
		</form>
	</div>		
	
	
		
		
		
</div>

    
