<!DOCTYPE html>
<html lang="en" ng-app="flatman">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0, maximum-scale=1"/>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('.default_description') %>">
    <meta name="robots" content="<%= yield :robots %>">
    <meta name="author" content="">

    <%= favicon_link_tag 'favicon.ico' %>

    <title>FlatMan<%= " » " + h(yield(:title)) if content_for?(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= csrf_meta_tags %>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="rootCtrl">

    <!-- loading overlay before ng-cloak -->
    <div class="splash" ng-cloak>
      <div class="loading-overlay">
        <span class="fa fa-refresh fa-5x loading-overlay-centered"></span>
      </div>
    </div>

    <!-- loading overlay for small devices -->
    <div ng-show="isLoading()">
      <div class="visible-xs loading-overlay">
        <span class="fa fa-refresh fa-5x loading-overlay-centered"></span>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-cloak>
      <div class="container-fluid">
        <div class="navbar-header">
          <% if is_user_ready_to_go %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%end%>
          <a class="navbar-brand" href="/#/dashboard"><%= image_tag("flatman_logo_30.png", width: 30) %> flatman</a>
        </div>
        <% if not is_user_ready_to_go and logged_in %>
          <ul class="nav navbar-nav pull-right">
              <li>
                <a href="/signout"><span class="glyphicon glyphicon-off"></span> <%=t("misc.titles.logout")%></a>
              </li>
          </ul>
        <% end %>
        <% if is_user_ready_to_go %>
          <div class="navbar-collapse collapse no-transition">
            <ul class="nav navbar-nav">
              <li ng-class="{active:isActive('/dashboard')}">
                <a href="/#/dashboard" ><span class="fa fa-dashboard"></span> <%=t(".navbar.dashboard")%></a>
              </li>
              <li ng-class="{active:isActive('/shopping')}">
                <a href="/#/shopping"><span class="glyphicon glyphicon-shopping-cart"></span>  <%=t(".navbar.shopping")%></a>
              </li>
              <li ng-class="{active:isActive('/finances')}">
                <a href="/#/finances"><span class="glyphicon glyphicon-euro"></span> <%=t(".navbar.finances")%></a>
              </li>
              <li ng-class="{active:isActive('/share')}">
                <a href="/#/share"><span class="glyphicon glyphicon-share"></span> <%=t(".navbar.share")%></a>
              </li>
              <li ng-class="{active:isActive('/messages')}">
                <a href="/#/messages"><span class="glyphicon glyphicon-envelope"></span> <%=t(".navbar.messages")%> <span class="badge">{{server_status.unread_messages}}</span></a>
              </li>
              <li ng-class="{active:isActive('/resources')}">
                <a href="/#/resources"><span class="glyphicon glyphicon-globe"></span>  <%=t(".navbar.resources")%></a>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> <%=current_user.name%> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li ng-class="{active:isActive('/flat_settings')}">
                    <a href="/#/flat_settings"><span class="glyphicon glyphicon-wrench"></span> <%=t(".navbar.flat_settings")%></a>
                  </li>
                  <li ng-class="{active:isActive('/user_settings')}">
                    <a href="/#/user_settings"><span class="glyphicon glyphicon-cog"></span> <%=t(".navbar.user_settings")%></a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="/signout"><span class="glyphicon glyphicon-off"></span> <%=t("misc.titles.logout")%></a></li>
                </ul>
              </li>
              <li class="flatman-navbar-item" ng-show="isLoading()">
                <a><span class="fa fa-refresh hidden-xs" ></span> <%=t("misc.titles.in_progress")%></a>
              </li>
            </ul>

            <div class="col-lg-2 pull-right">
              <!-- nasty navbar Hack  http://stackoverflow.com/questions/18619740/how-to-add-a-search-box-with-icon-to-the-navbar-in-bootstrap-3/18620303#18620303 -->
              <form class="navbar-form " role="search" ng-submit="search()">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="search_term" placeholder="<%=t(".navbar.search_placeholder")%>">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="container" class="container" ng-cloak>
      <section>
        <% flash.each do |key,message| %>
          <div class="alert alert-<%= key.to_s %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=message%>
          </div>
        <% end %>

        <div class="flyover flyover-top"
              ng-class="{in:Util.has_server_errors}">
          <alert ng-repeat="error in server_errors" type="error_type" close="delete_error($index)">
            <i class="fa fa-exclamation-triangle fa-lg"></i> {{error}}
          </alert>
        </div>

        <%= yield :validation %>
      </section>

      <%= yield %>
    </div>

    <div id="footer" ng-cloak>
      <div class="container">
        <p class="text-muted">
          <div class="row">
            <div class="col-md-4 col-xs-6">
              &copy; flatman <%= Time.now.year %>
            </div>
            <div class="col-md-4 col-xs-6 text-center">
              <%= link_to_unless(I18n.locale == :en,
                      t('misc.titles.language.english'),{locale: :en},{:onclick => "this.href=this.href+'/'+window.location.hash" })%> |
              <%= link_to_unless(I18n.locale == :de,
                      t('misc.titles.language.german'),{locale: :de},{:onclick => "this.href=this.href+'/'+window.location.hash" })%>
            </div>
            <div class="col-md-4 col-xs-4 text-right hidden-xs">
              <%= link_to t('misc.titles.menus.terms_and_privacy.title'), terms_path %>
            </div>
          </div>
        </p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="../../assets/js/docs.min.js"></script>-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <%= javascript_include_tag "application" %>

    <%= yield :script %>
    <%if I18n.locale.to_s === "de"%>
        <%= javascript_include_tag "angular-locale_de-de" %>
    <%end%>
    <script>var locale = "<%=I18n.locale.to_s%>";</script>

  </body>
</html>